<div aria-hidden="true" class="modal show" id="loginModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="text-center">Welcome To PSIFAS</h1>
      </div>
      <div class="modal-body">
        <div class="form col-md-12 center-block">
          <%= form_tag sessions_path do %>
            <div class="field">
              <%= label_tag :userName %>
              <%= text_field_tag :userName, params[:userName] %>
            </div>
            <div class="field">
              <%= label_tag :password %>
              <%= password_field_tag :password %>
            </div>
            <div class="actions"><%= submit_tag "Log in" %></div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12"></div>
      </div>
    </div>
  </div>
</div>

