%p#notice= notice

%p
  %b.showDetails Username:
  = @user.userName
%p
  %b.showDetails Password:
  = @user.password
%p
  %b.showDetails Fullname:
  = @user.fullName
%p
  %b.showDetails Manager:
  = @user.manager


%button.save{ :onclick => "window.location.href='/users/#{@user.id}/edit'"} Edit

%button.save{ :onclick => "window.location.href='/users'"} Back

