%p#notice= notice

%p
  %b Username:
  = @user.userName
%p
  %b Password:
  = @user.password
%p
  %b Fullname:
  = @user.fullName
%p
  %b Manager:
  = @user.manager

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
