%div{ :dir => "rtl"}
  %h1 כל הדו"חות
.CSSTableGenerator
  %h3{ :dir => "rtl"} הוגש
  %table 
 
    %tr
      %td תאריך
      %td תעודת זהות
      %td מדווח
      %td
      %td
      %td
      
 
    - @reports.each do |report|
      %tr
        %td= report.date
        %td= report.patientId
        %td= report.reporter
        %td= link_to 'הצג', report
        %td= link_to 'עריכה', edit_report_path(report)
        %td= link_to 'מחיקה', report, :method => :delete, :data => { :confirm => 'האם אתה בטוח?' }
  
  %br
 
  
  %h3{ :dir => "rtl"} הגשות עתידיות
  %table 
 
    %tr
      %td תעודת זהות
      %td תאריך הבא
     
      
 
    - @closeReports.each do |report|
    
      %tr
        %td= report.patientId
        %td= report.nextDate
    	   
%br
%div{ :dir => "rtl"}
  %button.save{ :onclick => "window.location.href='/reports/new'"} דו"ח חדש

