%h1 All Reports
.CSSTableGenerator
  %h3 Submitted
  %table 
 
    %tr
      %td Date
      %td Patientid
      %td Reporter
      %td
      %td
      %td
      
 
    - @reports.each do |report|
      %tr
        %td= report.date
        %td= report.patientId
        %td= report.reporter
        %td= link_to 'Show', report
        %td= link_to 'Edit', edit_report_path(report)
        %td= link_to 'Destroy', report, :method => :delete, :data => { :confirm => 'Are you sure?' }
  
  %br
 
  
  %h3 Not Submitted
  %table 
 
    %tr
      %td Patientid
      %td NextDate
     
      
 
    - @reports.each do |report|
      %tr
        %td= report.patientId
        %td= report.nextDate
    	   
%br
%button.save{ :onclick => "window.location.href='/reports/new'"} New Report

