%div{:dir => "rtl",  :style => "margin-right:300px"}
  %p#notice= notice

  %p
    %b תאריך:
    = @report.date
  %p
    %b ת.ז מטופל:
    = @report.patientId
  %p
    %b מדווח:
    = @report.reporter
  %p
    %b רקע:
    = @report.background
  %p
    %b תאור:
    = @report.description
  %p
    %b מסקנה:
    = @report.conclusion
  %p{ :style => "margin-bottom:15px"}
    %b תאריך הבא:
    = @report.nextDate

  %button.save{ :onclick => "window.location.href='/reports/#{@report.id}/edit'"} עריכה

  %button.save{ :onclick => "window.location.href='/reports'"} חזור
