!!!
%html{:lang => "en"}
  %head
    %title Psifas
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %meta{:content => "", :name => "description"}
            %meta{:content => "", :name => "author"}
              %title Simple Sidebar - Start Bootstrap Template
              / Bootstrap Core CSS
              %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
                / Custom CSS
                
                %link{:href => "css/simple-sidebar.css", :rel => "stylesheet"}
                %script{:src => "//code.jquery.com/jquery-1.10.2.js"}
                  / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
                  / WARNING: Respond.js doesn't work if you view the page via file://
                  /[if lt IE 9]
                  
                    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body{:background => " /assets/Grey-Abstract-Background-46.jpg", :style => "background-repeat: no-repeat; background-size:100%"}
  
    %img{:id => "logo", :alt => "עמותת רעות", :height => "63",:style => "float: right", :src => "/assets/logo.jpg", :title => "עמותת רעות", :width => "1038"}/
    
    #wrapper
      / Sidebar
      #sidebar-wrapper{:dir => "rtl"}
        %ul.sidebar-nav{:style => "font-size: 140%"}
          %li.sidebar-brand{:style => "font-size: 160%"}
            %b
            ברוך הבא                
          %li
            %b
              = link_to 'הוספת מטופל', new_patient_path
          %li
            %b
              = link_to 'רשימת מטופלים', controller: 'patients'
          %li
            %b
              = link_to 'הוספת דו"ח', new_report_path
          %li
            %b
              = link_to 'רשימת דו"חות', reports_path 
          %li
            %b
              = link_to 'ניהול', controller: 'users'
          %li
            %b
              = link_to 'אודות העמותה', controller: 'main_page' 
         
          
      / /#sidebar-wrapper
      
      / Page Content
      #page-content-wrapper
        .container-fluid
          .row
            .col-lg-12
              .row
                / %a#menu-toggle.btn.btn-default{ :href => "#menu-toggle"} Toggle Menu
                %a#menu-toggle{:style => "height:45px",  :href => "#menu-toggle"}
                  %img{:id => "arrow" ,:alt => "", :height => "50",:style => "margin-top: 30px", :src => "/assets/images.jpeg", :width => "60"}/ 
              .row
                = yield
               
      / /#page-content-wrapper
    / /#wrapper
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap Core JavaScript
    %script{:src => "js/bootstrap.min.js"}
    / Menu Toggle Script
    :javascript
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled"); 
          
          $( "#arrow" ).toggleClass( "left_arrow", "addOrRemove" );
          if ( addOrRemove ) {
            $( "#arrow" ).addClass( "left_arrow" );
          }
          else {  $( "#arrow" ).removeClass( left_arrow );
                  $( "#logo" ).css({'width' : '1225px'});
          }
      });
          
